header{
    background-color: gray;
    height: 10vh;
    width: 100vw;
}
.btn{
    transition: 2s;
}
.flo{
    animation: flow 4s ease-in-out infinite ;
}
@keyframes flow {
  0%   { transform: translateY(0) rotate(1deg)}
  25%  { transform: translateY(-5px)  }
  50%  { transform: translateY(-5px) rotate(0.1deg)}
  75%  { transform: translateY(5px) rotate(0.1deg) }
  100% { transform: translateY(0px) rotate(1deg) }
}
.btn:hover{
    transform:scale(1.1);
    box-shadow: 5px 3px 10px gray;
}
footer{
    margin-top: 10px;
    color:aliceblue;
    height: 15vh;
    font-size: larger;
}
i{
    transition: 2s;
}
i:hover{
    transform: rotate(360deg);
}
@media screen and (max-width:490px){
    *{
        flex-direction: column;
        gap:10px;
    }
    .prod{
        margin-left: 50%;
        translate: -50%;
    }
}
