header{
    background-color: gray;
    height: 10vh;
    width: 100vw;
}
.btn{
    transition: 2s;
}
.btn:hover{
    transform:scale(1.1);
    box-shadow: 5px 3px 10px gray;
}
footer{
    margin-top: 10px;
    color:aliceblue;
    height: 15vh;
    font-size: larger;
}
i{
    transition: 2s;
}
i:hover{
    transform: rotate(360deg);
}
@media screen and (max-width:490px){
    *{
        flex-direction: column;
        gap:10px;
    }
    .prod{
        margin-left: 50%;
        translate: -50%;
    }
}
